<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Header</title>
</head>
<body>
<!--Wrapper Starts here-->
<div id="wrapper">
    <!-- Header Starts here -->
    <header th:fragment="header" class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Sporty Shoes</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a id="sign-in" class="nav-link" href="/login">Sign In</a>
                <a id="sign-up" class="nav-link active" href="/user/sign-up"
                >Sign Up</a>
            </nav>
        </div>
    </header>
    <!-- Header Ends here -->
</div>
<!--Wrapper ends here-->
</body>
</html>
